@font-face {
  font-family: 'iconfont';
  /* project id 1328227 */
  src: url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.eot');
  src: url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.woff') format('woff'),
    url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1328227_qy5l13bc3yi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
